<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880029125152-g1182fuf8jc2qqccelqv2ursi6q9k1t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880029125152-g1182fuf8jc2qqccelqv2ursi6q9k1t1</string>
	<key>API_KEY</key>
	<string>AIzaSyDTAw6BbWLfr39A-XN56rr3wmvSKiRHbuE</string>
	<key>GCM_SENDER_ID</key>
	<string>880029125152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SegeyZaytsev</string>
	<key>PROJECT_ID</key>
	<string>ourfractal-1f66b</string>
	<key>STORAGE_BUCKET</key>
	<string>ourfractal-1f66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880029125152:ios:d8c403181d1f3886b98a45</string>
</dict>
</plist>